.promo {
    background: #0A2756;
    padding: 32px 0 113px;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding: 53px 0 128px;
    }
    @media (max-width: 560px) {
        padding: 60px 0 130px;
    }
    &__wrapper {
        max-width: 1240px;
        padding: 0 38px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 516px 400px;
        justify-content: end;
        grid-template-areas: 'title image'
        'button .'
        'info .';
        column-gap: 64px;
        @media (max-width: 1150px) {
            grid-template-columns: 394px 244px;
            // justify-content: center;
            padding: 0 38px 0 28px;
        }
        @media (max-width: 830px) {
            padding: 0 27px;
            grid-template-areas: 
                'title image'
                'button button'
                'info info';
            justify-items: start;
        }
        @media (max-width: 760px) {
            padding: 0 20px;
            grid-template-columns: 1fr;
            grid-template-areas: 
                'title'
                'button'
                'image'
                'info';
            justify-items: center;
        }
    }
    &__title {
        width: 535px;
        height: 300px;
        flex-shrink: 0;
        display: flex;
        grid-area: title;
        margin-bottom: 65px;
        margin-top: 35px;
        transform: translateX(-60px);
        @media (max-width: 1100px) {
            width: 394px;
            height: 220px;
        }
        @media (max-width: 830px) {
            width: 394px;
            height: 220px;
            margin-bottom: 73px;
            transform: translateX(-15px);
        }
        @media (max-width: 760px) {
            width: 280px;
            // height: 100%;
            height: 157px;
            margin-top: 0;
            margin-bottom: 59px;
            // justify-self: start;
        }
    }
    &__image {
        grid-area: image;
        @media (max-width: 768px) {
            width: 244px;
            height: 211px;
        }
        @media (max-width:580px) {
            // padding-top: 0;
            margin-bottom: 48px;
        }
    }
    &__button {
        grid-area: button;
        border: 0;
        max-width: 423px;
        padding: 26px 13px 25px;
        margin-bottom: 48px;
        background: #007DFE;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
        letter-spacing: 9.38px;
        text-transform: uppercase;
        margin-right: 50px;
        @media (max-width: 560px) {
            max-width: 279px;
            margin-bottom: 59px;
            margin-right: 0;
            letter-spacing: 4.2px;
        }
    }
    &__info {
        grid-area: info;
        max-width: 677px;
        @media (max-width: 560px) {
            // max-width: 280px;
            margin-right: 0;
            justify-self: flex-start;
        }
    }
    &__sub {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 26px */
        max-width: 521px;
        margin-bottom: 40px;
        white-space: pre-line;
        @media (max-width: 560px) {
            // max-width: 261px;
            max-width: 100%;
        }
    }
    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        margin-bottom: 48px;
        white-space: pre-line;
        @media (max-width: 560px) {
            margin-bottom: 0;
        }
    }
    &__arrow {
        display: block;
        margin: 0 auto;
        z-index: 3;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        // bottom: 11%;
        @media (max-width: 560px) {
            display: none;
        }
    }
}