.speaker {
    background-image: url('../img/speaker.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 378.018px;
    height: 380px;
    position: relative;
    @media (max-width: 900px) {
        width: 293.858px;
        height: 311.691px;
        margin-bottom: 30px;
    }
    @media (max-width: 560px) {
        width: 280px;
        height: 296px;
        background-image: url('../img/speaker-mob.png');
        background-size: cover;
    }
    &__info {
        position: absolute;
        padding: 25px 30px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 128, 255, 0.70);
        @media (max-width: 900px) {
            padding: 10px 23px;
            height: 85px;
        }
        @media (max-width: 560px) {
            padding: 18px 22px;
            height: 50px;
        }
    }
    &__name {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 24px */
        margin-bottom: 10px;
        @media (max-width: 900px) {
            margin-bottom: 22px;
        }
        @media (max-width: 560px) {
            font-size: 17px;
            margin-bottom: 13px;
        }
        
    }
    &__title {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        @media (max-width: 560px) {
            font-size: 14px;
        }
    }
}

.swiper-pagination-bullet {
    width: 12.966px;
    height: 13px;
    background-color: #E4E4E4;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #0A2756;
}